@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}
.header {
  display: flex;
  margin: 10px;
}
.left-links {
  display: flex;
  margin-right: auto;
  gap: 25px;
  list-style-type: none;
}
.right-links {
  display: flex;
  margin-right: 23px;
  margin-left: auto;
  gap: 25px;
  list-style-type: none;
}
.right-links-2 {
  display: flex;
  margin-right: 23px;
  margin-left: auto;
  gap: 25px;
  list-style-type: none;
}
a {
  text-decoration: none;
  text-decoration-line: none;
  color: #363636;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
img {
  width: 600px;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;
}
button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
/* Copy of other exercise */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}