/* Add CSS Styling */
.button {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.button.one {
    background-color: black;
    color: rgb(255, 255, 255);
}
.button.two {
    background-color: #eeff00;
}